
# Basic Arithmetic Operations

In [1]:
2+2

4

In [2]:
4-2

2

In [3]:
# '/' always returns the floating point number.
6/2

3.0

In [4]:
8*2

16

In [5]:
60-50*6

-240

In [6]:
7/6

1.1666666666666667

In [7]:
# '//' discards the fractional part.
7//6

1

In [8]:
# '%' returns the remainder
7%6

1

In [9]:
# '**' for calculating power
6**2

36

#  Value Assignment

In [10]:
# In python you don't need to declare any variable.Just assign and go.
# '=' is used to assign a value.
p=20
q=40
p*q

800

In [11]:
weight1=12.5/100
weight2=100.5
weight1 * weight2

12.5625

In [12]:
# '_' underscore is used as a variable in which last printed value is assigned.
# 100.5+12.5625=113.0625
weight2 + _

113.0625

In [13]:
# round() is used to roundoff the value upto any decimals you want.
round(_,2)

113.06

In [14]:
round(_)

113


# Data Types

## Integers

In [15]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
z1= "3"      # z1 will be of string

In [16]:
print (x)
print (y)
print (z)
print (z1)

1
2
3
3

In [17]:
# type() is used to know the type of any variable.
print ('Type of x is ', type(x))
print ('Type of y is ', type(y))
print ('Type of z is ', type(z))
print ('Type of z1 is ', type(z1))

Type of x is  <class 'int'>
Type of y is  <class 'int'>
Type of z is  <class 'int'>
Type of z1 is  <class 'str'>

## Float

In [18]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [19]:
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

## String 

Strings are immutable.

In [20]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [21]:
print(x)
print(y)
print(z)

s1
2
3.0

In [22]:
name= 'Mani'
name + 'rocking'

'Manirocking'

In [23]:
name[0]      # character at first position or zeroth index.

'M'

In [24]:
name[-1]    # character at last index

'i'

In [25]:
name[-2]    # character at 2nd last position

'n'

In [26]:
# This is slicing.
name[0:2]   # index from 0 to 2.

'Ma'

In [27]:
name[1:]    # index from 1 to last index.

'ani'

In [28]:
# String slicing can also accept a third parameter, the stride, which refers to how many characters you want to move forward.
Good="GsoAo+d"
Good[::2]

'Good'

In [29]:
name= 'doesn\'t'    # '\' is used to escape the single quote
name

"doesn't"

In [30]:
name = "doesn't"
name

"doesn't"

In [31]:
s = 'First line.\nSecond line.'
s            # without the print() statement \n is not included as a new line.

'First line.\nSecond line.'

In [32]:
print(s)

First line.
Second line.

In [33]:
print('C:\some\name')  # here /n is taken as new line.

C:\some
ame

In [34]:
# use r before the quote to overcome the above problem.
print(r"C:\some\name")

C:\some\name

In [35]:
3 * "un" + 'ium'

'unununium'

In [36]:
"Py" "thon"  # automatically concatenate

'Python'

In [37]:
# We cannot concatenate a variable and a string literal.
name="Py"
name + "thon"   # if no '+'' then error of invalid syntax will come.

'Python'

In [38]:
word= "Python"
word[:2] + word[2:]

'Python'

In [39]:
word[:4] + word[4:]

'Python'

In [40]:
word[-2:]       # character from 2nd last position to end.

'on'

In [41]:
len(word[1:3])

2

In [42]:
# word[42] <-- shows index error as the word is of only 6 characters.
# But out of range slice indexes are handled gracefully when used for slicing.
word[4:42]

'on'

In [43]:
word[42:]

''

In [44]:
# Python strings are immutable.
# word[0] = 'j' <-- will show item assignment not supported.

In [45]:
s = "Give a call"
len(s)

11

In [46]:
s="Giveacall"
len(s)

9

In [47]:
print(s.upper())

GIVEACALL

In [48]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Lists
List can contain items of different types.
List are mutable.

In [49]:
square = [1,4,9,16,25]
square

[1, 4, 9, 16, 25]

In [50]:
square[0] # returns the first element.

1

In [51]:
square[-1] # returns the last element.

25

In [52]:
square[0:4]

[1, 4, 9, 16]

In [53]:
# All slice operations returns the shallow copy of the list.

# A shallow copy constructs a new compound object and then (to the extent possible) inserts references into it to the objects found in the original.

# A deep copy constructs a new compound object and then, recursively, inserts copies into it of the objects found in the original.

square[:]

[1, 4, 9, 16, 25]

In [54]:
square + [36,49,64,81,100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
cube = [1,8,27,65,125]
cube

[1, 8, 27, 65, 125]

In [56]:
# Lists are mutable.
cube[3]=64
cube

[1, 8, 27, 64, 125]

In [57]:
# append() function inserts the value from the end of list.
cube.append(216)
cube.append(7**3)
cube

[1, 8, 27, 64, 125, 216, 343]

In [58]:
letters = ['a','b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [59]:
# Replacing elements.
letters[2:5]=['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [60]:
# Removing elements.
letters[2:5]=[]
letters

['a', 'b', 'f', 'g']

In [61]:
# Clearing the entire list.
letters[:]=[]    # You can also use letters.clear()
letters

[]

In [62]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [63]:
names= ['Ram', 'Shayam', 'Kabir']
type(names)

list

In [64]:
for name in names:
    print(name,type(name))

Ram <class 'str'>
Shayam <class 'str'>
Kabir <class 'str'>

In [65]:
digits= [1, 2, 3, 4, 5]
type(digits)

list

In [66]:
for digit in digits:
    print(digit,type(digit))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [67]:
# Lists can contain different values.
diff=[1, 2, 'Ram', True, 2.3, 'A']
print(type(diff))
print(len(diff))

<class 'list'>
6

In [68]:
for x in diff:
    print(x,type(x))

1 <class 'int'>
2 <class 'int'>
Ram <class 'str'>
True <class 'bool'>
2.3 <class 'float'>
A <class 'str'>

In [69]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [70]:
list1=[1, 2, 3, 4, 5, 6, 7, 8]

In [71]:
list1.append(10)

In [72]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 10]

In [73]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [74]:
# If we insert an element on an index then the other element shift to another index.
list1.insert(0,50)
list1

[50, 1, 2, 3, 4, 5, 6, 7, 8, 10]

In [75]:
list1.remove(4)
list1

[50, 1, 2, 3, 5, 6, 7, 8, 10]

In [76]:
list2=[1,12,3,12,12]
list2.remove(12)  #removes the 1st found 12
list2

[1, 3, 12, 12]

In [77]:
# To remove all the other 12
list3=[1,12,3,12,12]
for x in list3:
    list3.remove(12)
list3

[1, 3]

In [78]:
list3=[1,12,3,12,12]
while(12 in list3):
    list3.remove(12)
list3

[1, 3]

In [79]:
list = [1,12,3,12,12]
del(list[0])
list

[12, 3, 12, 12]

In [80]:
list1 = [10,20,30]
list2 = [100,200,300]
list1.append(list2)
list1

[10, 20, 30, [100, 200, 300]]

In [81]:
# To seperate 100,200,300
list1 = [10,20,30]
list2 = [100,200,300]
for item in list2:
    list1.append(item)
list1

[10, 20, 30, 100, 200, 300]

In [82]:
# Use extend() if you dont want to use for loop.
list1 = [10,20,30]
list2 = [100,200,300]
list1.extend(list2)
list1

[10, 20, 30, 100, 200, 300]

In [83]:
# or you can use '+' operaator.  
list1 = [10,20,30]
list2 = [100,200,300]
list1+list2

[10, 20, 30, 100, 200, 300]

In [84]:
list1=[1,2,3]
list2 = [10,20,30]
list3 = [100,200,300]
list1.extend(list2+list3)
list1

[1, 2, 3, 10, 20, 30, 100, 200, 300]

In [85]:
# Sorting a list
help(list.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Stable sort *IN PLACE*.

In [86]:
list1=[1,4,8,2,5,0]
list1.sort()
print(list1)
list1.sort(reverse=True)
print(list1)

[0, 1, 2, 4, 5, 8]
[8, 5, 4, 2, 1, 0]

In [87]:
# For founding the index of an element.
list1 = [10,20,50,20,60,20]
list1.index(20) # index() gives onle the 1st found 20

1

In [88]:
# To get the count of all the 20.
list1.count(20)

3

In [89]:
# Assignment
list1=[10,20,30,40,50]
list2=list1
print(list2)
print(list1)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [90]:
# Both lists will show same vales as assignment will point same memory locations. This is known as deep copy.
list2.append(101)
print(list2)
print(list1)

[10, 20, 30, 40, 50, 101]
[10, 20, 30, 40, 50, 101]

In [91]:
list1=[10,20,30]
list2=list1.copy()  # or list2=list1[:]
print(list1)
print(list2)

[10, 20, 30]
[10, 20, 30]

In [92]:
# list1 is not changet using copy() so this is the shallow copy.
list2.append(101)
print(list2)
print(list1)

[10, 20, 30, 101]
[10, 20, 30]

In [93]:
# pop() removes the last value in the list.
list1.pop()

30

In [94]:
# We can also use pop() with index number.
list1.pop(0)

10

In [95]:
# Use extend to add elements to list.
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

Another similar method is append. If we apply append instead of extend, we add one element to the list.

In [96]:
# Use append to add elements to list.
L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [97]:
# Split the string, default is by space.
'hard rock'.split()

['hard', 'rock']

In [98]:
# Split the string by comma.
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

## Tuple
Tuples are similar to lists. The only difference between lists and tuples is lists are mutable whereas tuple are immutable and also lists are represented by [] whereas tuples are represented by ().

In [99]:
tup=(21,36,14,25)
type(tup)

tuple

In [100]:
tup[1]

36

In [101]:
# tup[1] = 33 <-- shows error as tuples are immutable.
tup[0:4]

(21, 36, 14, 25)

In [102]:
# Create a nest tuple
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [103]:
# Print element on each index.
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [104]:
# Print element on each index, including nest indexes.
print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [105]:
# Print the first element in the second nested tuples.
NestedT[2][1][0]

'r'

In [106]:
# Print the second element in the second nested tuples.
NestedT[2][1][1]

'o'

In [107]:
# Print the first element in the second nested tuples.
NestedT[4][1][0]

1

In [108]:
# Print the second element in the second nested tuples.
NestedT[4][1][1]

2

## Sets
Sets are a collection of unique elements and never follows a sequence. Sets follows the concept of hash and using hash we can fetch the elements as fast as possible. In sets indexing is not supported.

In [109]:
s = {22,25,21,22,55,16} #22 is repeated 2 times but only one 22 will be in set.
s

{16, 21, 22, 25, 55}

In [110]:
s={25,14,98,63,75,98}
s

{14, 25, 63, 75, 98}

In [111]:
# Convert list to set.
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [112]:
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1.0, (1, 2, 3), 'Hello'}

In [113]:
my_set.add(30)
my_set

{(1, 2, 3), 1.0, 30, 'Hello'}

In [114]:
my_set.remove(30)
my_set

{(1, 2, 3), 1.0, 'Hello'}

In [115]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [116]:
# clear() takes no arguments and clears the entire list.
my_set.clear()
my_set

set()

In [117]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
A,B

({1, 2, 3, 4, 5}, {4, 5, 6, 7, 8})

In [118]:
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [119]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [120]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [121]:
print(A & B)

{4, 5}

In [122]:
A.intersection(B)

{4, 5}

In [123]:
B.intersection(A)

{4, 5}

In [124]:
print(A - B)

{1, 2, 3}

In [125]:
A.difference(B)

{1, 2, 3}

In [126]:
B - A

{6, 7, 8}

In [127]:
 B.difference(A)

{6, 7, 8}

In [128]:
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [129]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [130]:
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8}

In [131]:
# Check if superset.
set(A).issuperset(B)

False

In [132]:
# Check if subset.
set(B).issubset(A)

False

## Dictionary
It is an unordered collection of items. It has a key and corresponding value assigned to it.

In [133]:
dict = {1:'Apple', 2:'Ball'}
print(dict)

{1: 'Apple', 2: 'Ball'}

In [134]:
x = dict[1]
print(x)

Apple

In [135]:
x = dict.get(1)    # get() will give you the same result.
print(x)

Apple

In [136]:
Dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}

In [137]:
# Get value by keys.
Dict['Thriller']

'1982'

In [138]:
Dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [139]:
# Get all the values in dictionary.
Dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [140]:
# Changing values
dict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
dict["year"] = 2018
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [141]:
# Looping in Dictionary.
for x in dict:
    print(x)          # returns the key.

brand
model
year

In [142]:
for x in dict:
    print(dict[x])    # returns the values

Ford
Mustang
2018

In [143]:
# Print values using values().
for x in dict.values():
    print(x)

Ford
Mustang
2018

In [144]:
# Loop through both keys and values, by using the items() function.
for x, y in dict.items():
    print(x, y)

brand Ford
model Mustang
year 2018

In [145]:
# To check if the key is present in the dictionary or not by using in keyword.
dict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
if "model" in dict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [146]:
# Dictionary length.
print(len(dict))

3

In [147]:
# Adding items in dictionary.
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [148]:
# Removing items using pop(). pop() removes the item with the specific key name.
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [149]:
# Removing item using popitem(). popitem() removes the last inserted item.
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [150]:
# Removing item using del keyword. del keyword removes the item with the specific key name.
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [151]:
# deleting whole dictionary.
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
# print(thisdict) <-- this can cause error as 'thisdict' no longeer exists.

In [152]:
# Clearing the dictionary.
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [153]:
# Copying a dictionary.
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [154]:
# Nested Dictionaries.
myfamily = {
    "child1" : {
        "name" : "Emil",
        "year" : 2004
    },
    "child2" : {
        "name" : "Tobias",
        "year" : 2007
    },
    "child3" : {
        "name" : "Linus",
        "year" : 2011
    }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}